// Main page sections
.page-section {
  position: relative;
  padding: $spacer-4*3 0;

  @include media-breakpoint-up(sm) {
    padding: $spacer-4*4 0;
  }

  &.has-shadow {
    @include mt_box_shadow(1);
  }

  &:not(.bg-alt) {
    background-color: $white;
  }

  &.empty-bg {
    &:before {
      content: 'Więcej niebawem...';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-family: $font-family-alt;
      font-weight: $font-weight-bold;
      color: $gray-300;
    }
  }

  .page-section-header {
    text-align: center;
    font-family: $font-family-alt;
    margin-bottom: $spacer-4*3;
    position: relative;
    @include media-breakpoint-down(xs) {
      margin-bottom: $spacer-5;
    }

    &:after {
      content: '';
      margin-top: $spacer-3;
      display: block;
      height: 0.25rem;
      width: 5rem;
      background-color: $gray-400;
      border-radius: 0.25rem;
      @include mx-auto;
    }
  }

  .page-section-title {
    font-weight: $font-weight-bold;
  }

  .page-section-subtitle {
    color: $gray-600;
    margin: 0;
  }
}


// Inner section: subsection inside main page sections
.inner-section {
  header h4 {
    font-family: $font-family-alt;
    margin-bottom: $spacer-4;
    // font-weight: $font-weight-bold;
  }

  p {
    font-size: 90%;
  }
}


// Section with image divider
.image-divider-wrap {
  position: relative;

  @include media-breakpoint-up(md) {
    .divider-column {
      &:first-child {
        padding-right: 90px;
      }
      &:last-child {
        padding-left: 90px;
      }
    }
  }

  .image-divider {  
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: $spacer 0;

    &:before {
      content: '';
      position: absolute;
      display: block;
      background-color: $border-color;
      z-index: 0;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
      left: 0;
    }
    
    .img-wrap {
      position: relative;
      display: inline-block;
      max-width: 100px;
      // @include mt_box_shadow(2);
      
      img {
        border-radius: 100%;
        border: 2px solid $border-color;
      }
    }

    @include media-breakpoint-up(md) {
      margin: 0;
      position: absolute;  
      width: 150px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        width: 2px;
        height: 100%;
        top: 0;
        left: calc(50% - 1px);
      }

      .img-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        max-width: 150px;
      }
    }

  }
}