// Small contact details wrapper
.contact-details-small {
  margin-top: $spacer;
  display: flex;
  flex-direction: column;
  font-size: $font-size-sm;

  @include media-breakpoint-up(sm) {
    flex-direction: row;

    .single-info-wrap {
      & + .single-info-wrap {
        margin-left: $spacer-4;
      }
    }
  }

  
  a {
    color: $black;
    font-weight: $font-weight-base;
  }

  .fa, .fas, strong {
    margin-right: $spacer-2;
    color: $primary;
  }
}


// Wrapper for buttons evenly spaced on mobile
.btns-wrap-mobile-even {
  display: flex;

  .btn {
    @include media-breakpoint-down(xs) {    
      flex-grow: 1;
    }

    & + .btn {
      margin-left: $spacer-2;
    }
  }
}