.main-banner {
  min-height: 100vh;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // text
  h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
    font-family: $font-family-alt;
    line-height: 1.4;
    font-size: 2rem;
    margin-top: auto;

    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;
    }

    .small {
      text-transform: uppercase;
      font-weight: $font-weight-light;
    }

    .name {
      font-weight: $font-weight-bold;
      font-size: 125%;
    }

    .medium {
      font-size: 75%;
      font-weight: 400;
    }
  }

  .icons-wrap {
    margin-top: $spacer-2;

    .icon-holder {
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.35);
    }
  }

  .cta-see-more {
    margin-top: auto;
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 1;
    color: $gray-200;
    opacity: 0.5;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
    
    > .fa {
      animation: cta-bounce 2s infinite cubic-bezier(0, 0, 0.175, 1);
    }

    &:hover {
      opacity: 0.9;
    }
  }
}