.main-banner {
  min-height: 100vh;
  // background-color: $gray-900;
  // background-image: url('../../img/banner_bg3.jpg');
  // background-size: cover;
  // background-position: center center;
  // background-repeat: no-repeat;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // text
  h1 {
    text-shadow: 2px 2px rgba(0,0,0,0.35);
    font-family: $font-family-alt;
    line-height: 1.4;
    font-size: 2rem;
    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;      
    }

    .small {
      text-transform: uppercase;
      font-weight: $font-weight-light;
    }
    
    .name {
      font-weight: $font-weight-bold;
      font-size: 125%;
    }

    .medium {
      font-size: 90%;
    }
  }


  // icons
  .icons-wrap {
    $font-size: 1.5rem;
    $padding: 0.75rem;
    $size: $font-size + 2*$padding;
    margin-top: $spacer-2;

    a {
      color: $white;
      padding: $padding;
      background-color: rgba(0,0,0,0.5);
      display: inline-block;
      min-width: $size;
      min-height: $size;
      border-radius: $size;
      line-height: 1;
      text-align: center;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
      transition-duration: 0.3s;

      &:hover {
        background-color: $link-hover-color;
      }

      &:not(:first-child) {
        margin-left: $spacer-3;
      }
    }

    .fab {
      font-size: $font-size;
    }
  }

}