// LINK AND BUTTONS
a.text-link {
  font-weight: $font-weight-bold;
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: darken($link-color, 15%);
    transition-duration: 0.3s;
  }
  
  &:hover {
    text-decoration: none;
    &:before {
      left: 0;
      width: 100%;
    }  
  }  
}

// buttons
.btn {
  $btn-height: $btn-padding-x*2 + $font-size-base*$line-height-base;
  font-family: $font-family-alt;
  @include mt_box_shadow(1);

  &:hover {
    @include mt_box_shadow(2);
  }
}



// Main page sections
.page-section {
  padding: $spacer-5 0;

  &.bg-alt {
    background-color: $gray-100;
  }

  .page-section-header {
    text-align: center;
    font-family: $font-family-alt;
    margin-bottom: $spacer-5;
    position: relative;
    max-width: 33.75rem;
    @include mx-auto;

    &:after {
      content: '';
      margin-top: $spacer-3;
      display: block;
      height: 0.25rem;
      width: 5rem;
      background-color: $gray-400;
      border-radius: 0.25rem;
      @include mx-auto;
    }
  }

  .page-section-title {
    font-weight: $font-weight-bold;
  }

  .page-section-subtitle {
    color: $gray-600;
    margin: 0;
  }
}


// Inner section: subsection inside main page sections
.inner-section {
  header h4 {
    font-family: $font-family-alt;
    margin-bottom: $spacer-4;
    // font-weight: $font-weight-bold;
  }

  p {
    font-size: 90%;
  }
}


// Section with image divider
.image-divider-wrap {
  position: relative;

  @include media-breakpoint-up(md) {
    .divider-column {
      &:first-child {
        padding-right: 90px;
      }
      &:last-child {
        padding-left: 90px;
      }
    }
  }

  .image-divider {  
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: $spacer 0;

    &:before {
      content: '';
      position: absolute;
      display: block;
      background-color: $gray-200;
      z-index: -1;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
      left: 0;
    }
    
    img {
      border-radius: 100%;
      max-width: 100px;
      @include mt_box_shadow(2);
    }

    @include media-breakpoint-up(md) {
      margin: 0;
      position: absolute;  
      width: 150px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        width: 2px;
        height: 100%;
        top: 0;
        left: calc(50% - 1px);
      }

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        max-width: 150px;
      }
    }

  }
}


// Custom progress bars
.progress-wrap {
  & + & {
    margin-top: $spacer-4;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
  }

  progress {
    display: block;
    width: 100%;
  }
}

progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.3125rem;
  border: none;
  border-radius: 0.3125rem;
  color: $primary; // for IE10
  
  &::-webkit-progress-bar {
    border-radius: 0.4rem;
    background-color: $gray-300;
  }

  &::-webkit-progress-value {
    border-radius: 0.4rem;
    background-color: $primary;
  }
}

::-moz-progress-bar {
  border-radius: 0.4rem;
  background-color: $primary;
}


// Small contact details wrapper
.contact-details-small {
  margin-top: $spacer;
  display: flex;
  flex-direction: column;
  font-size: $font-size-sm;

  @include media-breakpoint-up(sm) {
    flex-direction: row;

    .single-info-wrap {
      & + .single-info-wrap {
        margin-left: $spacer-4;
      }
    }
  }

  
  a {
    color: $black;
    font-weight: $font-weight-base;
  }

  .fa, .fas, strong {
    margin-right: $spacer-2;
    color: $primary;
  }
}


.btns-wrap-mobile-even {
  display: flex;

  .btn {
    @include media-breakpoint-down(xs) {    
      flex-grow: 1;
    }

    & + .btn {
      margin-left: $spacer-2;
    }
  }
}