//***************************************
// Extension of bootstrap's variables file

// Spacers shortcut
$spacer-1: map-get($spacers, 1);
$spacer-2: map-get($spacers, 2);
$spacer-3: map-get($spacers, 3);
$spacer-4: map-get($spacers, 4);
$spacer-5: map-get($spacers, 5);

// Navbar
$navbar-logo-size: 60px;
$navbar-logo-size-sm: 40px;

// Footer
$footer-logo-size: $navbar-logo-size;
$footer-padding: $spacer-5;
$footer-logo-margin: $spacer-4;
$footer-height: calc(#{$spacer-5}*2 + #{$footer-logo-size} + #{$spacer-4} + 2*#{$font-size-xs}*#{$line-height-base});

// Typograpghy
$font-family-main: 'Open Sans', sans-serif;
$font-family-alt: 'Ubuntu', sans-serif;