//***************************************
// Extension of bootstrap's variables file

// Navbar
$navbar-logo-size: 60px;
$navbar-logo-size-sm: 40px;

// Spacers shortcut
$spacer-1: map-get($spacers, 1);
$spacer-2: map-get($spacers, 2);
$spacer-3: map-get($spacers, 3);
$spacer-4: map-get($spacers, 4);
$spacer-5: map-get($spacers, 5);

// Typograpghy
$font-family-main: 'Open Sans', sans-serif;
$font-family-alt: 'Ubuntu', sans-serif;